<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <%- include('./partials/header'); %>
    <div class="container">
      <h3>Home Page</h3>
      <section class="pagecontent">
        Welcome <%= user.details.firstname %> <%= user.details.lastname %>
      </section>
      <p>Your log in was successful!</p>
      <a href="/logout2">Logout</a>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
